@import "tailwindcss";

@theme {
  --animate-wiggle: particle-animate 2.5s ease infinite;
  /* animation-fill-mode: fordwards; */

  --animate-glow: pulse 5s cubic-bezier(0, 0, 0, 0.5) infinite,
    glow 5s alternate infinite;

  @keyframes particle-animate {
    0%,
    100% {
      transform: translate(0);
      opacity: 0.7;
    }
    25% {
      transform: translate(10px, -10px);
      opacity: 1;
    }
    50% {
      transform: translate(5px, 5px);
      opacity: 0.5;
    }
    75% {
      transform: translate(-5px, 10px);
      opacity: 0.8;
    }
  }

  @keyframes glow {
    0% {
      background-color: #818cf833;
    }
    33% {
      background-color: #a855f733;
    }
    66% {
      background-color: #ec489933;
    }
    100% {
      background-color: #fff;
    }
  }

  @keyframes pulse {
    50% {
      transform: scale(4.5);
    }
  }

  --animate-title: title-fade 1.5s ease;

  @keyframes title-fade {
    0% {
      opacity: 0;
      translate: 0 -100%;
    }
    100% {
      opacity: 1;
      translate: 0;
    }
  }
}

@keyframes sticky-parallax-header-move-and-size {
  from {
    background-position: 50% 0;
    height: 100vh;
    font-size: calc(4vw + 1em);
  }
  to {
    background-position: 50% 100%;
    background-color: #0b1584;
    height: 10vh;
    font-size: 2em;
  }
}

@keyframes sticky-parallax-header-hide {
  from {
    opacity: 1;
    height: 100vh;
    translate: 0;
  }
  to {
    height: 0;
    opacity: 0;
    translate: 0 -90%;
    font-size: 2em;
  }
}

#sticky-parallax-header {
  position: fixed;
  top: 0;

  animation: sticky-parallax-header-move-and-size linear forwards;
  animation-timeline: scroll();
  animation-range: 0vh 90vh;
}

.hidee {
  position: fixed;
  top: 0;

  animation: sticky-parallax-header-hide linear forwards;
  animation-timeline: scroll();
  animation-range: 0vh 70vh;
}

html {
  scroll-behavior: smooth;
}

.carousel {
  scroll-behavior: smooth;
  inline-size: 90cqi;
  list-style-type: none;
  padding: 1rem;
  scroll-padding: 1rem;
  display: grid;
  grid-auto-flow: column;
  gap: 1.5rem;

  anchor-name: --carousel;
  container-type: inline-size;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;

  columns: 1;
  /* block-size: 70vh; */
  text-align: center;

  &::column {
    scroll-snap-align: center;
  }
}

.carousel {
  &:before,
  &:after {
    content: "";
    display: block;
    inline-size: 50cqi;
  }
}

/* .carousel {
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  anchor-name: --carousel;

  columns: 1;
  block-size: 70vh;
  text-align: center;

  &::column {
    scroll-snap-align: center;
  }
} */

.carousel__slide {
  /* width: auto;
  height: 100%; */

  container-type: scroll-state;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.carousel--scroll-buttons {
  &::scroll-button(*) {
    color: #b0b9c2;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    z-index: 1;
    position-anchor: --carousel;
    font-size: 1.25rem;
    inline-size: 44px;
    margin: 1rem;
    font-family: Material Symbols Outlined;
    line-height: 1;
    font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 24;
    display: flex;
    place-items: center;
    place-content: center;
    aspect-ratio: 1;
    background: none;
    border: 1px solid #495057;
    border-radius: 1e5px;
  }

  &::scroll-button(*):not(:disabled):is(:hover, :focus-visible) {
    border-color: #868e96;

    scale: 1.1;
  }

  &::scroll-button(right) {
    position-area: block-end span-inline-start;
    content: "→" / "Scroll Right";
  }

  &::scroll-button(left) {
    position-area: block-end span-inline-end;
    content: "←" / "Scroll Left";
  }
}

.carousel--scroll-markers {
  scroll-marker-group: after;

  &::scroll-marker-group {
    position: fixed;
    position-anchor: --carousel;
    position-area: block-end;
    margin: 10px;

    display: grid;
    grid-auto-columns: 20px;
    grid-auto-flow: column;
    gap: 20px;
  }

  &::column::scroll-marker {
    content: " ";
    width: 20px;
    height: 20px;
    background-color: #9810fa;
    opacity: 0.7;
    border-radius: 100%;
  }
  &::column::scroll-marker:target-current {
    scale: 1.3;
    opacity: 1;
  }
}

.carousel__slide {
  scroll-snap-align: center;
}

.carousel__slide > article {
  inline-size: min(45ch, 90cqi);
  background: #343a40;
  border-radius: 1rem;
  box-shadow: 0 3px 5px -2px hsl(220 40% 2% / calc(10% + 3%)),
    0 7px 14px -5px hsl(220 40% 2% / calc(10% + 5%));
  overflow: clip;
  align-content: end;
}

.carousel__slide > article img {
  grid-area: 1 / 1;
}

.gallery-figure {
  display: grid;
  place-items: end stretch;
}

.gallery-card {
  & > figure {
    > * {
      grid-area: 1 / 1;
    }
  }
}

.gallery-caption {
  max-inline-size: 100%;
  display: grid;
  justify-items: start;
  gap: 0.5rem;
  transition: transform 0.3s cubic-bezier(0.25, 0, 0.3, 1),
    opacity 0.3s cubic-bezier(0.25, 0, 0.3, 1);
  background: linear-gradient(to top, #000, 75%, #0000);
  padding-inline: 1.5rem;
  padding-block: 4rem 1rem;
  text-align: left;

  & > h5 {
    color: #f8f9fa;
    font-size: 1.25rem;
    font-weight: 900;
  }

  & > p {
    color: #ced4da;
    font-size: 1.1rem;
  }
}

.carousel {
  @media (prefers-reduced-motion: no-preference) {
    @container not scroll-state(snapped: inline) {
      figcaption {
        transform: translateY(100%);
      }
    }
  }
}
